<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
    <script type="text/javascript" src="/static/js/graph.js"></script>
    
</head>
<body>
    
    <div class="container">
        
        <section id="header">
            <header class="row">
                <div class="col-md-12 p-5 text-center">
                    <img class="img-fluid" src="../static/images/logo-dash.png" alt="logo-dashboard" />
                </div>
            </header>
            <hr>
        </section>
        
        <section id="project-description" class="pb-5">
            <div class="row">
                <div class="col-md-6 text-center p-3">
                    <p>The graphs on this page are based on data for U.S. births for the period of 2000-2014, as provided by the Social Security Administration. The original data-set can be found <a href="https://github.com/fivethirtyeight/data/blob/master/births/US_births_2000-2014_SSA.csv" target="_new">here</a>.</p>
                </div>
                <div class="col-md-6 text-center p-3">
                    <p>Some of the questions posed: What is the correlation between day of the week and number of births? Is there a greater number of births during the weekdays compared to weekends? What are the figures for the 13<sup>th</sup> of each month? Which is the month with the greatest number of births?</p>
                </div>
            </div>
            <hr>
        </section>
        
        <section id="graph1">
            <div class="row p-5">
                <div class="col-md-6" id="births-by-day-of-week">
                    
                </div>
                <div class="col-md-6 p-5">
                    <h2>Births by day of the week</h2>
                    <hr>
                    <p>Births on Saturdays and Sundays are lower when compared with the other days of the week. This might be because hospitals schedule births during the week when they are fully resourced and staff are working 'normal' hours at no extra cost.</p>
                </div>
            </div>
            <hr>
        </section>
        
        <section id="graph2">
            <div class="row p-5">
                <div class="col-md-6 p-5">
                    <h2>Births by month of the year</h2>
                    <hr>
                    <p>By far August has the highest number of births followed by July and September. In comparison, February is the month with the lowest number of births followed by April and November. It is believed that seasons and weather conditions play an important role in birthdays.</p>
                </div>
                <div class="col-md-6" id="births-by-month">
                    
                </div>
            </div>
            <hr>
        </section>
        
        <section id="graph3">
            <div class="row p-5">
                <div class="col-md-6" id="births-by-year">
                    
                </div>
                <div class="col-md-6 p-5">
                    <h2>Births by year</h2>
                    <hr>
                    <p>We can clearly observe an increase in the number of births between 2006 and 2008. However, a great decline is observed in 2008. This might be related to the financial crisis that affected the world economy in 2007-2008.</p>
                </div>
            </div>
            <hr>
        </section>
        
        <section id="graph4">
            <div class="row p-5">
                <div class="col-md-6 p-5">
                    <h2>Births by date of month</h2>
                    <hr>
                    <p>A very low number of births is seen on 31<sup>st</sup>. This is a normal occurence since not every month consists of 31 days. On the 13<sup>th</sup>, one might propose that the number of births would be significantly lower but it is actually higher than 29<sup>th</sup> and 30<sup>th</sup>.</p>
                </div>
                <div class="col-md-6" id="births-by-date-of-month">
                    
                </div>
            </div>
            <hr>
        </section>
        
        <section id="graph5">
            <div class="row p-5">
                <div class="col-md-6" id="season-pie-chart">
                    
                </div>
                <div class="col-md-6 p-5">
                    <h2>Births by season</h2>
                    <hr>
                    <p>According to the chart the difference in number of births between the seasons is not significant. However, the difference is more obvious if we compare summer to winter.</p>
                    <hr>
                    <p class="text-muted"><small>winter (December, January, February)<br>
                    spring (March, April, May)<br>
                    summer (June, July, August)<br>
                    fall (September, October, November)</small></p>
                </div>
            </div>
            <hr>
        </section>
        
        
        
        
        <section id="footer">
            <footer class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="text-muted">Stream 2 Project | Code Institute Dublin, Ireland | February 2018</small>
                        <br>
                        <span class="text-primary">Dan Dumitrache</span>
                    </p>
                </div>
            </footer>
        </section>
        
    </div>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>